<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signup_text</key>
	<string>欢迎使用网上报名方式完成学车报名手续 :

报名人员所需证件与材料

1、证件及复印件
  （1）本市户籍人员报名时须交身份证原件及复印件（复印件要求用A4纸竖着印，一代身份证只印正面，二代身份证印正反两面，上排反面，下排正面，不能印反，复印件上人头、字迹、公安局章必须清楚，不能有任何其他字迹，不能印得太黑，身份证不得涂改），也可用临时身份证报名，但身份证、暂住证住址字数不得少于十个，入班时证件须在有效期内，学员必须持有效身份证件参加各项考试。
  （2）非本市户籍人员，须持身份证及有效期为一年的暂住证和复印件报名，暂住证必须为机打，暂住证上的身份证号、姓名、常驻户口所在地的地址一定要和身份证完全一致，暂住地址必须清楚登记所在区、县、街道及门牌号，字数不得少于十个，服务处所内容不能是空白。如有更改，须在更改处压盖发证机关印章。复印时用A4纸竖着印，上排印照片页，下排印内容页，发证机关印章必须清楚。
  （3）军人及武警人员学车须用驻京部队核发的军官证、士兵证、文职干部证或退休证报名，同时要出具团级以上政治部（处）证明（标准为A4纸或带有部队台头的B5信签纸）。证明要写明姓名、性别、出生年月日、证件号码和具体住址，加盖政治部（处）公章。报名时须提交证件原件及复印件（复印件用A4纸竖着印，上排印封皮、下排印内容页），体检到交管局指定医院体检即可，其他手续同身份证报名一致。
2、照片
  （1）报名学员需准备同版照片7张，报名时交6张，科目三考试合格后由学员本人再交1张。如身份证上的照片戴眼镜，则报名时必须交戴眼镜的照片；如考试时需要戴眼镜，则报名时也必须交戴眼镜的照片。
  （2）照片必须为半年以内近照，正面、正身、免冠、1寸（32MM×22MM）、白色背景彩色照片，人头约占照片长度的三分之二，光学照片、数码照片（分辨率为300dpi）均可。
  （3）照片必须露双耳，头上不能佩戴任何发饰，不能穿露肩膀衣服。
  （4）军人、公安或执法人员的照片须着便装。
3、表格
  学员报名时需提供本人签字的“机动车驾驶员身体条件证明”，如实填写“驾校机动车驾驶员副案”并在“驾驶员培训协议书”、“机动车驾驶证申请表”、“驾校机动车驾驶员副案”上签字。</string>
</dict>
</plist>
